<!DOCTYPE html>
<html>
<head>
  <title>Create Account</title>
</head>
<body>
<form action="." method="POST" name="form1">
	{% csrf_token %}
	<div> Enter account :<input type="text" name="account" /> </br></div>
  <div> Enter password <input type="text" name="password" /> </br></div>
  <div> Enter name :<input type="text" name="name" /> </br></div>
  <div> Enter line_id <input type="text" name="line_id" /> </br></div>
  <div> Enter enable :<input type="text" name="enable" /> </br></div>
	<div><input type="submit" value="Send"/> </br></div>
</form>
</body>
</html>
